<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Do We Care Anymore?</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="./public/styles/marketing.css" >
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    
</head>
<body>
    
<!--
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Your Site</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
            </ul>
        </div>
    </div>    
-->

    {{{body}}}

    <script src="http://yui.yahooapis.com/combo?3.17.2/yui/yui-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>  
<!--    <script src="../../public/js/twitter-chart.js"></script>-->
    <script src="../../public/js/detail-chart.js"></script>
    <script src="../../public/js/socket.js"></script>
</body>
</html>