<div class="splash-container">
    <div class="splash">
        <p class="splash-subhead large">
            {{hashtags}}
        </p>        
        <h1 class="splash-head">How Much Do We Still Care?</h1>
        <p class="splash-subhead ">How long does it take after a shooting to go back to life as usual?</p>
        <p class="splash-subhead ">This chart shows interest and frequency of use of gun-related hashtags on Twitter over time.</p>
        <p class="splash-subhead ">Perhaps if we see how predictable our behavior is, we will want to change it.</p>
    </div>
</div>


<div class="content-wrapper clearfix">
    <div class="content">
        <h2 class="content-head is-center"></h2>
        <div class="pure-g">

            <div class="pure-u-5-5" id="detail-chart-container" style="width:100%; margin: 0 auto"></div>
        </div>
        
        <div class="center third">
            <p class="large">
                As recently as 2 years ago, <b>33,636</b> <a target="_blank" class="underlined" href="http://www.gunpolicy.org/firearms/region/united-states">people died from gun violence.</a>
                <ul class="left-justify stats">
                    <li><b>11,208</b> were murdered.</li>
                    <li><b>21,175</b> killed themselves.</li>
                    <li><b>505</b> were killed from an accident.</li>
                    <li><b>681</b> were killed via police intervention.</li>
                    <li><b>281</b> died from a gun without known cause.</li>
                </ul>
            </p>
        </div>
        

        <div class="center">
            <span class="boxed blue third"> 
                <p class="large">Want to learn more about what you can do to keep awareness up? Go to</p>
                <a target="_blank", href="http://everytown.org/">EveryTown.org</a>
            </a>
            </span>
        </div>
    
    
       
    
    
    </div>
    <div class="footer l-box is-center">
        <div class="text-white small">&copy; Ian Cropper</span>
        <div class="text-white small"><a href="mailto:itcropper@gmail.com">Email</a></div>
        <div class="text-white small"><a target="_blank" href="http://redaspenphotography.com">Side-site: Red Aspen Photography</a>        </div>
</div>
