html {
    
}

ul {
   list-style: none;
}
html a {
    text-decoration: none;
    color:black;
}
.underlined {
    text-decoration: underline;
}
p.large {
    font-size:22px;
}
.small {
    font-size:12px;
}
.text-white {
    color:white !important;
}
.text-white * {
    color:white !important;
}
.center {
    margin:0 auto;
    text-align: center;
}

.left-justify {
    text-align: left;
}

.quarter{
    width:25%;
}
.third{
    width:33%;
}
.half {
    width:50%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#master-container {
 display:none;   
}

.boxed {
    border-radius: 5px;
    padding:15px;
    text-align: center;
    margin:0 auto;
    color:white;
    display:inline-block;
}

.boxed.blue {
    background-color:#1f8dd6;
}
ul.stats li {
    border-bottom: 1px solid whitesmoke;
    margin:8px;
}
ul.stats b {
    width: 45px;
    margin-right: 29px;
    display: inline-block;
}

.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
}
